@model vrinda.Models.student
@{
    ViewBag.Title = "delete";
}

<h2>delete</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

        <h2>Deletestudent</h2>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.username)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.username)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.password)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.password)
                </dd>


            </dl>

                <div class="form-actions no-color">
                    <input type="submit" value="Delete student" class="btn btn-danger" /> |
                    @Html.ActionLink("Back to List", "Index2")
                </div>
        </div>
}
